##### Q1

 What will the output be of 
x= ((500//7) % 5) ** 3

##### Q2

How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).

##### Q3

What will the output of 3 * 3 ** 3 be?

##### Q4

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

##### Q5

What will the output of the following program be?

L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

##### Q6

What will be the output ?

l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

In [1]:
##Ans1
x= ((500//7) % 5) ** 3
x

1

In [2]:
#Ans 2
S = ('I love Python')
S[2:6]

'love'

In [3]:
##Ans3
x=3 * 3 ** 3
x

81

In [4]:
##Ans 4
T = (3, 5, 7, 11)

In [5]:
## We can not add value to tuple so convert it into List than appned value to it
L1=list(T)
L1.append(9)

In [6]:
L1

[3, 5, 7, 11, 9]

In [7]:
##Ans 5
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [8]:
## Ans 6
l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

6